<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ktpl\Homeslider\Api\Data\HomesliderSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Ktpl\Homeslider\Api\Data\HomesliderInterface" type="Ktpl\Homeslider\Model\Homeslider" />
    <preference for="Ktpl\Homeslider\Api\HomesliderRepositoryInterface" type="Ktpl\Homeslider\Model\HomesliderRepository" />
    <virtualType name="Ktpl\Homeslider\Model\ResourceModel\Homeslider\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ktpl_homeslider</argument>
            <argument name="resourceModel" xsi:type="string">Ktpl\Homeslider\Model\ResourceModel\Homeslider</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ktpl_homeslider_listing_data_source" xsi:type="string">Ktpl\Homeslider\Model\ResourceModel\Homeslider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ktpl\Homeslider\HomesliderImageUpload" type="Ktpl\Homeslider\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">homesliderimage</argument>
            <argument name="basePath" xsi:type="string">homesliderimage</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ktpl\Homeslider\Controller\Adminhtml\Homeslider\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Ktpl\Homeslider\HomesliderImageUpload</argument>
        </arguments>
    </type>
</config>
